.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  color: var(--text, #fff);
  background: #0b0c10;
}

.wrapper h1 {
  font-size: 72px;
}
